head
    link(href='/css/style.css', rel='stylesheet')
    title tersr
body
    .center-container
        .center-container.center-text
            h1 Paste link to tersify it:
            form(name='add', action='/', method='post')
                input.longerTextBox(type='url', name='url', value='https://www.google.com/' required)
            #links
                if link
                    span url: #{link.url}
                    br
                    span ters'd: #[a(href="#{link.url}") #{link.short}]