.center-container {
    position:absolute;
    width:400px;
    height:200px;
    left:50%;
    margin: 0 0 0 -200px;
}

.center-text {
    text-align: center;
}

.longerTextBox {
    width: 100%
}

input{
    text-align:center;
}