body {
    background-color: #eeeeee;
}

.center-container {
    position:absolute;
    width:300px;
    height:200px;
    left:50%;
    margin: 0 0 0 -150px;
}

.center-text {
    text-align: center;
}